<h5 class="date-heading">
  <a id="prev-date-link" class="date-link fas fa-chevron-left" href="" data-date="{{ prev_day }}"></a>
  <label id="date-label" for="date-picker">
    <span class="fas fa-calendar-alt"></span>
    <span id="date-label-text">{{ today.strftime("%a, %B %-d") }}</span>
  </label>
  <a id="next-date-link" class="date-link fas fa-chevron-right" href="" data-date="{{ next_day }}"></a>
  <br><input type="date" id="date-picker">
</h5>
