{% extends 'base_onboarding.html.jinja' %}
{% block title -%} Not Found {%- endblock %}

{% block content %}
  <div class="error-page">
    <h2>404 - Swing and miss!</h2>
    <p>Sorry, that page doesn't exist.</p>
    <p class="button-row">
      <a class="button" href="{{ url_for('home') }}"><button>HOme</button></a>
    </p>
  </div>
{% endblock %}