<div class="col-lg-4 col-md-6 col-12">
  <div class="card user-card">
    <div class="card-inner">
      <div class="image-wrapper">
        <img src="{{ list_user.image_url }}" alt="Image for {{ list_user.username }}" class="card-hero">
      </div>
      <div class="card-contents">
        <p>@{{ list_user.username }}</p>
      </div>
      <p class="card-bio">{{ list_user.bio }}</p>
    </div>
  </div>
</div>
