{# The User List page #}
{% extends 'base_nav.html.jinja' %}
{% block content %}
  {% if users|length == 0 %}
    <h3>Sorry, no users found</h3>
  {% else %}
    <div class="row justify-contnet-around">
    {% for list_user in users %}
      {% include "/users/_detail.html.jinja" %}
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}
