{% extends 'base_onboarding.html.jinja' %}
{% block content %}
  <div class="auth-form">
    <h2>Log in to check your picks</h2>

    <form method="post" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {{ field.label }}
        {{ field(class="form-control") }}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endfor %}

      <button>LOG &nbsp; in</button>
      <p class="auth-alt">New around here?  <a id="signup-link" href="{{ url_for('games.picksheet') }}">Play now!</a></p>
    </form>
  </div>
{% endblock %}