{% extends 'base_nav.html.jinja' %}
{% block content %}
  <div class="auth-form">
    <h2>Change Your Password</h2>

    <form method="post">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {{ field.label }}
        {{ field(class="form-control") }}
        {% for error in field.errors %}
          <span class="text-error">{{ error }}</span>
        {% endfor %}
      {% endfor %}

      <p class="button-row">
        <button>SAVE &nbsp; password</button>
      </p>
    </form>
  </div>
{% endblock %}