{% extends 'base.html.jinja' %}
{% block body_class -%} playing {%- endblock %}
{% block header %}
  <nav id="app-header">
    <a id="logo-link" href="{{ url_for('home') }}">
      <span>BASEBALL &nbsp; pick'em</span>
    </a>

    <input type="checkbox" id="menu-checkbox" hidden>
    <label id="menu-toggle" for="menu-checkbox">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <menu>
      {% if not g.user %}
      <li><a href="{{ url_for('user.login') }}">Log In</a></li>
      {% else %}
      <li><a href="{{ url_for('game.my_picks') }}">My Picks</a></li>
      <li><a href="{{ url_for('game.scoreboard') }}">Scoreboard</a></li>
      <li><a href="{{ url_for('game.leaderboard') }}">Leaderboard</a></li>
      <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
      <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
      {% endif %}
    </menu>
  </nav>
{% endblock %}
