{% extends 'base_onboarding.html.jinja' %}
{% block content %}
  <div class="hero">
    <p>Think you know baseball?</p>
    <p class="button-row">
      <a class="button" href="{{ url_for('game.picksheet') }}"><button>PLAY&nbsp;&nbsp;now</button></a>
    </p>
    <p>Put your knowledge to the test!</p>
  </div>
  <p class="auth-alt">Already made your picks?  <a href="{{ url_for('user.login') }}">Log in</a> to check 'em</p>
{% endblock %}
